<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Battle</title>
</head>

<body>
<header>
    <h1 class="header"><a href="/">Galactic intruders</a></h1>
</header>

<main>
    <th:block th:include="~{fragments/navigation}"></th:block>

    <section>
        <form class="army" th:action="@{/battle}" method="POST"  >
            <ul>
                <label>Name:</label>
                <li th:each="s : ${ships}"th:text="${s.name}" ></li>
            </ul>
            <ul>
                <label>Count:</label>
                <li th:each="s : ${ships}" th:text="${s.count}" ></li>
            </ul>
            <ul>
                <label>Attack :</label>
                <li th:each="s : ${ships}" th:text="${s.attack}"  ></li>
            </ul>
            <ul>
                <label>Health:</label>
                <li th:each="s : ${ships}" th:text="${s.health}" ></li>
            </ul>
            <ul>
                <label>Send to battle:</label>
                <input type="number"th:each="s : ${ships}" />
            </ul>
            <button type="submit">Go to Battle</button>
        </form>

    </section>
    <img id="planetImg" alt="Image of planet" th:object="${planetModelInfo}" th:src="*{imgUrl}">
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>

</html>