<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Change role</title>
</head>

<body>
    <header>
        <h1 class="header"><a href="/">Galactic intruders</a></h1>
    </header>

    <main class="change-role">
        <th:block th:include="~{fragments/navigation}" ></th:block>
        <section>
            <form id="changeRole" th:action="@{/changeRole}" method="POST">
                <header for="username">Select user:</header>
                <select value="" selected  name="username">
                    <option th:each=" n : ${usernames}" th:text="${n}" th:value="${n}" ></option>

                </select>
                <header for="user">user</header>
                <input type="radio" name="role" id="user" checked  value="user">
                <header for="admin">admin</header>
                <input type="radio" id="admin" name="role"  value="admin">
                </br>
                <button type="submit">Update</button>

            </form>


        </section>
        <img id="planetImg" th:object="${planetModelInfo}" th:src="*{imgUrl}">
    </main>
        <th:block th:include="~{fragments/footer}" ></th:block>


</body>

</html>